.code-editor{
  height:60vh;
  display:flex
}

.explorer{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.explorer .title{
  display:flex;
  justify-content: space-between;
  background-color: blanchedalmond;
}

.CodeMirror{
  height:100% !important;
}
.explorer .wrapper{
  flex-grow: 1;
  overflow: scroll;
}

.codeDisplay{
  padding: 10px;
  overflow: scroll;
}

